.AppHeader {
  text-align: center;
  color: darkviolet;
  background: linear-gradient(grey, lightgrey);
  padding: 12px;
}

.AppHeader h1 {
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
}
